<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('assets/styles/register.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/styles/reset.css')}}">
</head>
<body>
    <div class="container">   
        <div class="form_connection">
            {{ form_start(registrationForm) }}
                <h1>Register to access Tutube</h1>
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.admin) }}
                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="image_decoration">
            <div class="background_black"></div>
            <div class="page_context">
                <p>
                    Register page
                </p>
            </div>
            <img src="{{asset('assets/images/homepage.jpg')}}" alt="">
        </div>
    </div>
</body>
</html>
