{% extends 'base.html.twig' %}

{% block title %}Video page!{% endblock %}

{% block body %}
    <p>{{video.title}}</p>
    <iframe src={{video.videoUrl}} frameborder="0"></iframe>
    <p>{{video.createdAt|date("d-m-Y")}}</p>
    <p>{{video.user.firstname}} {{video.user.lastname}}</p>
    {% for comment in video.comments %}
        <p>{{comment.content}}</p>
        <a href="{{path("admin_comment_delete", {comment_id : comment.id, video_id : video.id})}}">Supprimer ce commentaire</a>
    {% endfor %}
{% endblock %}