{% extends 'base.html.twig'%}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/styles/homepage.css')}}">
{% endblock %}
{% block body %}
    <header>
        <div class="container_homepage">
            <div class="logo">   
                <h1>home</h1>   
            </div>
            <div class="search_bar">
                <form action="{{path("homepage_search")}}" method="POST">
                    <input type="text" name="search" placeholder="search video">
                    <input type="submit" value="search video">
                </form>
            </div>
        </div>
    </header>
    <div class="video_container">
    {% for video in videos %}
        <div class="video">
            <iframe src={{video.videoUrl}} frameborder="0"></iframe>
            <div class="video_title">
                <a href="{{path("video_page", {video_id: video.id})}}">{{video.title}}</a><br>
            </div>
            <div class="video_info">
                <p>{{video.user.firstname}} {{video.user.lastname}}</p>
                <div class="video_stat"> 
                    <p>{{video.videoSeens.count}} vues</p>
                    <p>{{video.createdAt | date('d-m-Y') }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}