<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video page</title>
</head>
<body>
    <h1>video page</h1>
    <p>{{video.title}}</p>
    <p>{{video.description}}</p>
    <p>{{views}} vus</p>
    <a href="{{path("see_vieo", {user_id: userId, video_id: video.id})}}">J'ai vu la vidéo</a>
    <iframe src={{video_url}} allowfullscreen frameborder="0">fqsd</iframe>
    {% if app.user %}
        {{form(commentForm)}}
    {% else %}
        <p>You must be connected to enter comment en fait</p>
    {% endif %}
    {% for comment in comments %}
        <p>{{comment}}</p>
    {% endfor %}
</body>
</html>