<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/styles/reset.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ asset('assets/styles/base.css')}}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="base_navigation">
            <div class="container">
                <div class="logo">
                    <p>Logo</p>
                </div>
                <ul>
                    {% if app.user is null %}
                        <li>
                            <a href="{{path('app_register')}}">register</a>
                        </li>
                        <li>
                            <a href="{{path('login')}}">login</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{path('homepage')}}">Homepage</a>
                    </li>
                    {% if app.user is not null %}
                        <li>
                            <a href="{{path('following_page')}}">subscribes</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        {% for role in app.user.roles %}
                            {% if app.user and role == "admin" %}
                                <li>
                                    <a href="{{path('admin_videos')}}">admin</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a href="{{path('video_trend')}}">trend</a>
                    </li>
                    <li>
                        <a href="{{path('discover_page')}}">discover</a>
                    </li>
                    {% if app.user is not null %}
                        <li class="profil_tutubeur">
                            <div class="profil_pic">
                                <img src="{{asset("assets/images/"~app.user.profileImage)}}" alt="">
                            </div>
                            <a href="{{path('tutubeur_page', {tutubeur_id:app.user.id})}}">Profile</a>
                        </li>
                    {% endif %}
                    {% if app.user is not null %}
                        <li>
                            <a href="{{path('logout')}}">logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="page_container">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
