{% extends 'base.html.twig'%}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/styles/following.css')}}">
{% endblock %}
{% block body %}
    <div class="following_container">
        <h1>following</h1>
        <div class="videos">
            <div class="video">
                {% for video in videos %}
                    <div class="video">
                        <iframe src={{video.videoUrl}} frameborder="0"></iframe>
                        <a class="video_title" href="{{path('video_page', {video_id:video.id})}}">{{video.title}}</a>
                        <div class="video_user">
                            <p>{{video.user.firstname}}</p>
                            <p>{{video.user.lastname}}</p>
                        </div>
                        <p>{{video.videoSeens|length}} vues</p>
                    </div>
                {% endfor %}
            </div>    
        </div>
    </div>
{% endblock %}