<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutubeur</title>
</head>
<body>
    <h1>Tutubeur</h1>
    {% if viewer == true and is_fan == false and app.user.id != tutubeur_id %}   
        <a href="{{path('tutubeur_follow', {action:'follow', source_id: app.user.id, target_id: tutubeur_id})}}">s'abonner</a>
    {% elseif viewer == true and is_fan == true and app.user.id != tutubeur_id %}
        <a href="{{path('tutubeur_follow', {action:'unfollow', source_id:app.user.id, target_id: tutubeur_id})}}">se désabonner</a>
    {% endif %}
    <p>number of video : {{videoCounter}}</p>
    <p>number of view : {{viewCounter}}</p>
    {% for userVideo in userVideos %}
        <p>{{userVideo.title}}</p>
        <p>{{userVideo.description}}</p>
        <p>{{userVideo.getVideoSeens|length}}</p>
        <a href="{{path("see_vieo", {user_id: userId, video_id: userVideo.id})}}">J'ai vu la vidéo</a>
        <iframe src={{userVideo.videoUrl}} frameborder="0">fqsd</iframe>
        {% if userId == userVideo.user.id %}
            <a href="{{path("tutubeur_video_delete", {video_id : userVideo.id})}}">delete this video</a>
        {% endif %}
    {% endfor %}
</body>
</html>